html{
    margin: 0;
    padding: 0;
    height: 100%;
    body{
        height: 100%;
        background-size: cover;
        background-attachment: fixed;
        background-image: url('/static/img/samsommer-vddccTqwal8-unsplash.jpg');
        
    }
    input,label{
        color: white !important;
    }
    input{
        border-color: white !important;
    }
}